<template name="layout">
  <h1>This is a layout</h1>
  {{> yield}}
</template>

<template name="anotherLayout">
  <h1>This is another layout</h1>
  {{> yield}}
</template>

<template name="main">
  <h1>main</h1>
  <input type="button" value="Click" />
  <br />

  <ul>
    <li> <a href="{{pathFor 'items'}}">items</a> </li>
    <li> <a href="{{pathFor 'users'}}">users</a> </li>
    <li> <a href="{{pathFor 'test'}}">test</a> </li>
  </ul>
</template>

<template name="test">
  <h1>test</h1>
  <input type="button" value="Click" />
  <br />

  <ul>
    <li> <a href="{{pathFor 'items'}}">items</a> </li>
    <li> <a href="{{pathFor 'users'}}">users</a> </li>
  </ul>
</template>

