<template name="users">
  <a href="{{pathFor 'main'}}">main</a>
  <h1>users</h1>
  <h3>Input a new user:</h3>
  <div class="new-user">
    <input type="text" id="name" placeholder="your name">
    <input type="text" id="gender" placeholder="your gender">
    <input type="button" id="submit" value="create">
  </div>
  <ul>
    {{#each users}}
    <li><b>name</b>: {{name}} <b>gender</b>: {{gender}}</li>
    {{/each}}
  </ul>
</template>
